src/main/resources/GeneralQueryProcesses_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsserver" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsserver" xmlns:intf="http://wsserver" xmlns:tns1="http://wsmodel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://wsserver" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://wsmodel"/>
      <element name="test">
        <complexType/>
      </element>
      <element name="testResponse">
        <complexType>
          <sequence>
            <element name="testReturn" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="getGeneralQueryResult">
        <complexType>
          <sequence>
            <element name="queryOwner" type="tns1:QueryOwner"/>
            <element name="queryInfo" type="tns1:QueryType"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="ArrayOf_tns1_QueryParameter">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:QueryParameter"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfArrayOf_tns1_QueryParameter">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:ArrayOf_tns1_QueryParameter"/>
        </sequence>
      </complexType>
      <element name="getGeneralQueryResultResponse">
        <complexType>
          <sequence>
            <element name="getGeneralQueryResultReturn" type="tns1:RTGeneralQueryProcesses"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="ArrayOf_tns1_RTGeneralResultInfo">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:RTGeneralResultInfo"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOf_tns1_ResultMessage">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:ResultMessage"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://wsmodel" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://wsserver"/>
      <complexType name="QueryOwner">
        <sequence>
          <element name="password" nillable="true" type="xsd:string"/>
          <element name="userName" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="QueryParameter">
        <sequence>
          <element name="parameterFormat" nillable="true" type="xsd:string"/>
          <element name="parameterName" nillable="true" type="xsd:string"/>
          <element name="parameterType" nillable="true" type="xsd:string"/>
          <element name="parameterValue" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="QueryType">
        <sequence>
          <element name="queryId" nillable="true" type="xsd:string"/>
          <element name="queryParameters" nillable="true" type="impl:ArrayOfArrayOf_tns1_QueryParameter"/>
        </sequence>
      </complexType>
      <complexType name="RTGeneralResultInfo">
        <sequence>
          <element name="queryParameter" nillable="true" type="impl:ArrayOfArrayOf_tns1_QueryParameter"/>
        </sequence>
      </complexType>
      <complexType name="ResultMessage">
        <sequence>
          <element name="code" nillable="true" type="xsd:string"/>
          <element name="description" nillable="true" type="xsd:string"/>
          <element name="type" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="RTResult">
        <sequence>
          <element name="resultMessageList" nillable="true" type="impl:ArrayOf_tns1_ResultMessage"/>
          <element name="trxNo" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="RTGeneralQueryProcesses">
        <sequence>
          <element name="generalResultInfos" nillable="true" type="impl:ArrayOf_tns1_RTGeneralResultInfo"/>
          <element name="result" nillable="true" type="tns1:RTResult"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="testResponse">
    <wsdl:part element="impl:testResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getGeneralQueryResultResponse">
    <wsdl:part element="impl:getGeneralQueryResultResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="testRequest">
    <wsdl:part element="impl:test" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getGeneralQueryResultRequest">
    <wsdl:part element="impl:getGeneralQueryResult" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="GeneralQueryProcesses">
    <wsdl:operation name="test">
      <wsdl:input message="impl:testRequest" name="testRequest"/>
      <wsdl:output message="impl:testResponse" name="testResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getGeneralQueryResult">
      <wsdl:input message="impl:getGeneralQueryResultRequest" name="getGeneralQueryResultRequest"/>
      <wsdl:output message="impl:getGeneralQueryResultResponse" name="getGeneralQueryResultResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneralQueryProcessesSoapBinding" type="impl:GeneralQueryProcesses">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="test">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="testRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeneralQueryResult">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getGeneralQueryResultRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGeneralQueryResultResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneralQueryProcessesService">
    <wsdl:port binding="impl:GeneralQueryProcessesSoapBinding" name="GeneralQueryProcesses">
      <wsdlsoap:address location="http://vodafonewscf:9088/VodafoneWS/services/GeneralQueryProcesses"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>