src/main/resources/QueryManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://query.enabler.vdms.oksijen.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://query.enabler.vdms.oksijen.com" name="QueryManagementService">
<types>
<xsd:schema>
<xsd:import namespace="http://query.enabler.vdms.oksijen.com" schemaLocation="QueryManagementService.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="queryImeiImsiByMsisdn">
<part name="parameters" element="tns:queryImeiImsiByMsisdn"></part>
</message>
<message name="queryImeiImsiByMsisdnResponse">
<part name="parameters" element="tns:queryImeiImsiByMsisdnResponse"></part>
</message>
<message name="queryDeviceInformation">
<part name="parameters" element="tns:queryDeviceInformation"></part>
</message>
<message name="queryDeviceInformationResponse">
<part name="parameters" element="tns:queryDeviceInformationResponse"></part>
</message>
<message name="queryImeiStatus">
<part name="parameters" element="tns:queryImeiStatus"></part>
</message>
<message name="queryImeiStatusResponse">
<part name="parameters" element="tns:queryImeiStatusResponse"></part>
</message>
<message name="queryImeiChangeStatus">
<part name="parameters" element="tns:queryImeiChangeStatus"></part>
</message>
<message name="queryImeiChangeStatusResponse">
<part name="parameters" element="tns:queryImeiChangeStatusResponse"></part>
</message>
<portType name="QueryManagementService">
<operation name="queryImeiImsiByMsisdn">
<input message="tns:queryImeiImsiByMsisdn"></input>
<output message="tns:queryImeiImsiByMsisdnResponse"></output>
</operation>
<operation name="queryDeviceInformation">
<input message="tns:queryDeviceInformation"></input>
<output message="tns:queryDeviceInformationResponse"></output>
</operation>
<operation name="queryImeiStatus">
<input message="tns:queryImeiStatus"></input>
<output message="tns:queryImeiStatusResponse"></output>
</operation>
<operation name="queryImeiChangeStatus">
<input message="tns:queryImeiChangeStatus"></input>
<output message="tns:queryImeiChangeStatusResponse"></output>
</operation>
</portType>
<binding name="QueryManagementServicePortBinding" type="tns:QueryManagementService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="queryImeiImsiByMsisdn">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="queryDeviceInformation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="queryImeiStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="queryImeiChangeStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="QueryManagementService">
<port name="QueryManagementServicePort" binding="tns:QueryManagementServicePortBinding">
<soap:address location="http://10.162.119.205:8081/QueryManagementService"></soap:address>
</port>
</service>
</definitions>