src/main/resources/QueryByServiceTypeOrInvoice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://webservice.inquiry.services.oksijen.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:sdf442="http://model.inquiry.services.oksijen.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice.inquiry.services.oksijen.com">
    <wsdl:documentation>&lt;b&gt;com.oksijen.services.inquiry.webservice.QueryByServiceTypeOrInvoice &lt;font color="blue"&gt;V:01.03.00.018&lt;/font&gt;&lt;/b&gt;&lt;br&gt;&#13;
        Query&lt;br&gt;&#13;
        Query&lt;br&gt;&#13;
    </wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://model.inquiry.services.oksijen.com/xsd">
            <xs:complexType name="Input">
                <xs:sequence>
                    <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fromCache" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Output">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="result" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:sdf443="http://model.inquiry.services.oksijen.com/xsd" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://webservice.inquiry.services.oksijen.com">
            <xs:import namespace="http://model.inquiry.services.oksijen.com/xsd"/>
            <xs:element name="query">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="input" nillable="true" type="sdf442:Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="sdf442:Output"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="queryRequest">
        <wsdl:part name="parameters" element="ns:query"/>
    </wsdl:message>
    <wsdl:message name="queryResponse">
        <wsdl:part name="parameters" element="ns:queryResponse"/>
    </wsdl:message>
    <wsdl:portType name="QueryByServiceTypeOrInvoicePortType">
        <wsdl:operation name="query">
            <wsdl:input message="ns:queryRequest" wsaw:Action="urn:query"/>
            <wsdl:output message="ns:queryResponse" wsaw:Action="urn:queryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="QueryByServiceTypeOrInvoiceSoap11Binding" type="ns:QueryByServiceTypeOrInvoicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="query">
            <soap:operation soapAction="urn:query" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="QueryByServiceTypeOrInvoiceSoap12Binding" type="ns:QueryByServiceTypeOrInvoicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="query">
            <soap12:operation soapAction="urn:query" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="QueryByServiceTypeOrInvoiceHttpBinding" type="ns:QueryByServiceTypeOrInvoicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="query">
            <http:operation location="QueryByServiceTypeOrInvoice/query"/>
            <wsdl:input>
                <mime:content type="text/xml" part="query"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="query"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="QueryByServiceTypeOrInvoice">
        <wsdl:port name="QueryByServiceTypeOrInvoiceHttpSoap11Endpoint" binding="ns:QueryByServiceTypeOrInvoiceSoap11Binding">
            <soap:address location="http://10.177.244.38:8080/services/QueryByServiceTypeOrInvoice.QueryByServiceTypeOrInvoiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="QueryByServiceTypeOrInvoiceHttpSoap12Endpoint" binding="ns:QueryByServiceTypeOrInvoiceSoap12Binding">
            <soap12:address location="http://10.177.244.38:8080/services/QueryByServiceTypeOrInvoice.QueryByServiceTypeOrInvoiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="QueryByServiceTypeOrInvoiceHttpEndpoint" binding="ns:QueryByServiceTypeOrInvoiceHttpBinding">
            <http:address location="http://10.177.244.38:8080/services/QueryByServiceTypeOrInvoice.QueryByServiceTypeOrInvoiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
