src/main/resources/RuleEngine.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ruleengine.vodafone.eteration.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ruleengine.vodafone.eteration.com/" name="ProductCatalogServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ruleengine.vodafone.eteration.com/" schemaLocation="RuleEngine.xsd"/>
<!--<xsd:import namespace="http://ruleengine.vodafone.eteration.com/" schemaLocation="http://172.30.100.104:8091/ws.ruleengine/productCatalog?xsd=1"/>-->
</xsd:schema>
</types>
<message name="getAvailableTariffs">
<part name="parameters" element="tns:getAvailableTariffs"/>
</message>
<message name="getAvailableTariffsResponse">
<part name="parameters" element="tns:getAvailableTariffsResponse"/>
</message>
<message name="getProductInfo">
<part name="parameters" element="tns:getProductInfo"/>
</message>
<message name="getProductInfoResponse">
<part name="parameters" element="tns:getProductInfoResponse"/>
</message>
<message name="getGroupProducts">
<part name="parameters" element="tns:getGroupProducts"/>
</message>
<message name="getGroupProductsResponse">
<part name="parameters" element="tns:getGroupProductsResponse"/>
</message>
<message name="getGroupProductsInfo">
<part name="parameters" element="tns:getGroupProductsInfo"/>
</message>
<message name="getGroupProductsInfoResponse">
<part name="parameters" element="tns:getGroupProductsInfoResponse"/>
</message>
<message name="validateAndConfigureAssets">
<part name="parameters" element="tns:validateAndConfigureAssets"/>
</message>
<message name="validateAndConfigureAssetsResponse">
<part name="parameters" element="tns:validateAndConfigureAssetsResponse"/>
</message>
<message name="getAvailableProducts">
<part name="parameters" element="tns:getAvailableProducts"/>
</message>
<message name="getAvailableProductsResponse">
<part name="parameters" element="tns:getAvailableProductsResponse"/>
</message>
<message name="validateAssets">
<part name="parameters" element="tns:validateAssets"/>
</message>
<message name="validateAssetsResponse">
<part name="parameters" element="tns:validateAssetsResponse"/>
</message>
<portType name="ProductCatalogService">
<operation name="getAvailableTariffs">
<input wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getAvailableTariffsRequest" message="tns:getAvailableTariffs"/>
<output wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getAvailableTariffsResponse" message="tns:getAvailableTariffsResponse"/>
</operation>
<operation name="getProductInfo">
<input wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getProductInfoRequest" message="tns:getProductInfo"/>
<output wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getProductInfoResponse" message="tns:getProductInfoResponse"/>
</operation>
<operation name="getGroupProducts">
<input wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getGroupProductsRequest" message="tns:getGroupProducts"/>
<output wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getGroupProductsResponse" message="tns:getGroupProductsResponse"/>
</operation>
<operation name="getGroupProductsInfo">
<input wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getGroupProductsInfoRequest" message="tns:getGroupProductsInfo"/>
<output wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getGroupProductsInfoResponse" message="tns:getGroupProductsInfoResponse"/>
</operation>
<operation name="validateAndConfigureAssets">
<input wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/validateAndConfigureAssetsRequest" message="tns:validateAndConfigureAssets"/>
<output wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/validateAndConfigureAssetsResponse" message="tns:validateAndConfigureAssetsResponse"/>
</operation>
<operation name="getAvailableProducts">
<input wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getAvailableProductsRequest" message="tns:getAvailableProducts"/>
<output wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/getAvailableProductsResponse" message="tns:getAvailableProductsResponse"/>
</operation>
<operation name="validateAssets">
<input wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/validateAssetsRequest" message="tns:validateAssets"/>
<output wsam:Action="http://ruleengine.vodafone.eteration.com/ProductCatalogService/validateAssetsResponse" message="tns:validateAssetsResponse"/>
</operation>
</portType>
<binding name="ProductCatalogServicePortBinding" type="tns:ProductCatalogService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAvailableTariffs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGroupProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGroupProductsInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateAndConfigureAssets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateAssets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductCatalogServiceService">
<port name="ProductCatalogServicePort" binding="tns:ProductCatalogServicePortBinding">
<soap:address location="http://172.30.100.104:8091/ws.ruleengine/productCatalog"/>
</port>
</service>
</definitions>